{% extends 'mysite/base.html' %}

{% block content %}

<header>
    <div class="container text-center" >
        <div>
            <h1>DWAYNE SALMON</h1>
            <p>WELCOME TO MY PORTFOLIO WEBSITE</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse orci felis, porta non libero nec, lacinia vehicula nibh. Sed libero orci, vulputate.</p>
            <a href="{% url 'portfolio' %}" class="btn btn-primary ">View Portfolio</a>
        </div>
    </div>
</header>

{% endblock %}